<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Is It Futureproof?</title>
    
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="tuesday after never!" />
        <meta name="keywords" content="future, futureproof"/>
        <meta name="author" content="jennifer gergen, Jens Ohlig" />
        <meta name="ROBOTS" content="ALL" />
        <script type="text/javascript" src="/static/js/prototype.js"></script>
        <script type="text/javascript" src="/static/js/scriptaculous.js"></script>
        <script type="text/javascript">
        Hash.prototype.keys = function() {
          var k = new Array;
          for(var i in this) if (this.hasOwnProperty(i)) {
            k.push(i);
          };
          return k;
        };
        var cycle_questions = function() {
            var questions_hash = new Hash;
            {% for question in questions %}
                    questions_hash['{{question.key()}}'] = '{{question.question}}';
            {% endfor %}
            var question = new Array;
            questions = questions_hash.keys();
            questions.shift();
            // Loop
            intervalID = setInterval ( function() {
                $('carousel').innerHTML = questions_hash[questions.last()];
                $('question_form').action = "/question/" + questions.last();
                $('question_form').method = "POST";
                questions.push(questions.shift());
            }, 3000);
        };
        function submit_vote(vote_value) {
            $('vote_value').value = vote_value;
            $('question_form').submit();
        }
        // Mmmh, curry!
        var vote_yes = submit_vote.curry('yes');
        var vote_no = submit_vote.curry('no');
        </script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <link rel="STYLESHEET" type="text/css" href="/static/css/stylin.css?v=1" />
    </head>
    
    <body onLoad="cycle_questions();">
    <!-- begin #traingle-container -->
    <div class="triangle-container">

        <!-- begin #site-container -->
        <div class="site-container">
        
        
            <!-- begin #header -->
            <div class="header">
                  <h2>
                     <span class="hidden-text">Is it Futureproof? (.com)</span>
                     <img src="/static/img/isitfutureproof_logo.png" width="272" height="119" alt="Is It Futureproof? Logo">
                  </h2>
            </div>
            <!-- end #header -->
            
            
            <!-- begin #content -->
            <div class="content">

           <h1>Will we still <p class="carousel" id="carousel" onmouseOver="clearInterval(intervalID);">{{questions[0].question}}</p>in 20 years?</h1>
              <form id='question_form' action='/question/{{questions[0].key()}}/' method="POST">
                  <input type="hidden" name="vote_value" value="yes" id="vote_value">
              </form>
              <ul>
               <li><div class="yes-button"><a href="#" onmouseOver="clearInterval(intervalID);" onClick="vote_yes();">yes</a></div></li>
               <li><div class="no-button"><a href="#" onmouseOver="clearInterval(intervalID);" onClick="vote_no();">no</a></div></li>
            </ul>

            <div class="info">
               <span class="first">T</span><strong>he Future isn't what it used to be. </strong> Things are changing faster then ever. What will stand the test of time? What has run out of time? Will that Technology, Job, or Belief be around in 20 years? Make your voice heard. Tell us what you think. Enjoy!
            </div>

            <ul>
               <li><p class="icon-fp_horz_line"></p></li>
               <li><h3 class="subhead">Dig it? <span class="caption">Then share it!</span></h3></li>
               <li><a href="#"><p class="icon-fp_twitter"><span class="hidden-text">Tweet this! </span></p></a></li>
               <li><a href="#"><p class="icon-fp_facebook"><span class="hidden-text">Share on Facebook! </span></p></a></li>
               <li><a href="#"><p class="icon-fp_email"><span class="hidden-text">Email to your friends. </span></p></a></li>
               <li><g:plusone size="medium"></g:plusone></li>
               <li><p class="icon-fp_horz_line"></p></li>
            </ul>

            <div class="leaderboard-tease">
               <div class="leader-yes">
                  <ul>
                     <li class="item-box leader-title"><h3 class="leader-subhead">Futureproof!</h3><p class="caption-reverse">These things have staying power!</p></li>
                     <li class="item-box style-100"><a href="#">
                           <p class="percentage style-100">100 &#37;</p>
                           <p class="item-text">“Make movies”</p>
                           <p class="icon-fp_comment"><span class="caption">2 comments, 12,986 votes </span></p>
                           </a>
                     </li>
                     <li class="item-box style-83"><a href="#">
                           <p class="percentage style-83">82.6 &#37;</p>
                           <p class="item-text">“write text that is so long it will break the frame of the box it’s supposed to be in”</p>
                           <p class="icon-fp_comment"><span class="caption">2 comments, 12,986 votes </span></p>
                           </a>
                     </li>
                     <li class="item-box style-50"><a href="#">
                           <p class="percentage style-50">49.9 &#37;</p>
                           <p class="item-text">“Make movies”</p>
                           <p class="icon-fp_comment"><span class="caption">2 comments, 12,986 votes </span></p>
                           </a>
                     </li>
                  </ul>
               </div>
               
               <div class="leader-no">
                  <ul>
                     <li class="item-box leader-title"><h3 class="leader-subhead">Failboat!</h3>
                        <p class="caption-reverse">Say goodbye... these things are going the way of the Dodo.</p>
                     </li>
                     <li class="item-box style-26"><a href="#">
                           <p class="percentage style-26">25.8 &#37;</p>
                           <p class="item-text">“Make movies”</p>
                           <p class="icon-fp_comment"><span class="caption">2 comments, 12,986 votes </span></p>
                           </a>
                     </li>
                     <li class="item-box style-13"><a href="#">
                           <p class="percentage style-13">13.3 &#37;</p>
                           <p class="item-text">“Make movies”</p>
                           </a>
                     </li>
                     <li class="item-box style-0"><a href="#">
                           <p class="percentage style-0">0 &#37;</p>
                           <p class="item-text">“Make movies”</p>
                           <p class="icon-fp_comment"><span class="caption">2 comments, 12,986 votes </span></p>
                           </a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="view-all-row">
               <ul>
                  <li><p class="icon-fp_horz_line_short"></p></li>
                  <li><p class="caption"><a href="#">View all.</a></p></li>
                  <li><a href="#"><p class="icon-fp_arrow"></p></a></li>
                  <li><p class="icon-fp_horz_line_short"></p></li>
               </ul>
            </div>
            </div>
            <!-- end #content -->
            
            
            <!-- begin #submit -->
            <div class="submit">
               <form action="{{ url_for('add_question') }}" method="post">
                <p class="submit-head">Got a good one?</p>
                <p class="caption">Great! Just fill in the blank:</p>
                <h3>Will we still <input class="entry-form" type="text" name="entry" id="entry" value="" tabindex="1" />in 20 years?</h3>

                  <ul>
                  <li><input class="yes-button-small" type="submit" value="yes" /></li>
                  <li><input class="no-button-small" type="submit" value="no" /></li>
               </ul>

            </form>
            </div>
            <!-- end #submit -->
            
            
            <!-- begin #ad-row -->
            <div class="ad-row">
                <img src="/static/img/fp_fake_ads.jpg" />
            </div>
            <!-- end #ad-row --> 
            
            
            <!-- begin #footer -->
            <div class="footer">
            <ul>
               <li><p class="footer-head">a <a href="#">jen</a> &amp; <a href="#">jens</a> joint.</p>
                   <p class="footer-email"><a href="mailto:info@isitfutureproof.com">info@isitfutureproof.com</a></p> 
               </li>
               <li><p class="icon-fp_line_vert"></p></li>
               <li>
                  <p class="caption-reverse">Mobile coming soon &hellip;</p>
                  <ul>
                     <li><a href="#"><p class="icon-fp_apple"><span class="hidden-text">iOS app </span></p></a></li>
                     <li><a href="#"><p class="icon-fp_android"><span class="hidden-text">Android app </span></p></a></li>
                  </ul>
               </li>
               <li><p class="icon-fp_line_vert"></p></li>
               <li>
                  <p class="caption-reverse">Sharing is caring &hellip;</p>
                  <ul>
                     <li><a href="#"><p class="icon-fp_twitter"><span class="hidden-text">Tweet this! </span></p></a></li>
                     <li><a href="#"><p class="icon-fp_facebook"><span class="hidden-text">Share on Facebook! </span></p></a></li>
                     <li><a href="#"><p class="icon-fp_email"><span class="hidden-text">Email to your friends. </span></p></a></li>
                     <li><g:plusone size="medium"></g:plusone></li>
                  </ul>
               </li>
            </ul>
            </div>
            <!-- end #footer -->
            
        </div>
        <!-- end #site-container -->
    </div>
    <!-- end #triangle-container -->
    

    
    </body>
</html>
