
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Is It Futureproof?</title>
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="tuesday after never!" />
		<meta name="keywords" content="future, futureproof"/>
		<meta name="author" content="jennifer gergen, Jens Ohlig" />
		<meta name="ROBOTS" content="ALL" />

		<link rel="STYLESHEET" type="text/css" href="../static/futureproof/stylesheets/stylin.css" />
	</head>
	
	<body>
	
	<!-- begin #traingle_container -->
	<div class="triangle_container">

		<!-- begin #site_container -->
		<div class="site_container">
		
		
			<!-- begin #header -->
			<div class="header">
				<h1>Is It Futureproof?</h1>
			</div>
			<!-- end #header -->
			
			
			<!-- begin #content -->
			<div class="content">
            <div class="question">
            </div>
            
            <div class="info">
            </div>
            
            <div class="share">
            </div>
            
            <div class="leaderboard-tease">
            </div>
            
            <div class="leader-link">
               <div class="center">
                  <div class="icon-fp_horz_line"></div>
                  <span class="caption"> View all.</span>
                  <div class="icon-fp_arrow"></div>
                  <div class="icon-fp_horz_line"></div>
               </div>
            </div>
            
				
			</div>
			<!-- end #content -->
			
			
			<!-- begin #submit -->
			<div class="submit">
				<h2>i'm the submit box</h2>
			</div>
			<!-- end #submit -->
			
			
			<!-- begin #ad_row -->
			<div class="ad_row">
				<div class="center">moof<br /><br /><img src="../static/img/fp_fake_ads.jpg" /></div>
			</div>
			<!-- end #ad_row --> 
			
			
			<!-- begin #footer -->
			<div class="footer">
			
				<h1>i'm the footer</h1>
			</div>
			<!-- end #footer -->
			
		</div>
		<!-- end #site_container -->
	</div>
	<!-- end #triangle_container -->
	
	
	
	</body>
</html>
