<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Is It Futureproof?</title>
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="tuesday after never!" />
		<meta name="keywords" content="future, futureproof"/>
		<meta name="author" content="jennifer gergen, Jens Ohlig" />
		<meta name="ROBOTS" content="ALL" />

		<link rel="STYLESHEET" type="text/css" href="../static/css/stylin.css?v=1" />
	</head>
	
	<body>
	
	<!-- begin #traingle_container -->
	<div class="triangle_container">

		<!-- begin #site_container -->
		<div class="site_container">
		
		
			<!-- begin #header -->
			<div class="header">
			      <h1>
			         <img src="../static/img/isitfutureproof_logo.png" width="272" height="119" alt="Is It Futureproof? Logo">
			      </h1>
			</div>
			<!-- end #header -->
			
			
			<!-- begin #content -->
			<div class="content">
				<div class="question">
				   <h1>Will we still <p class="carousel">borrow library books</p>in 20 years?</h1>
				   <div class="center">
				      <div class="yesno">
				      <ul>
                     <li><a href="#"><p class="yes_button">yes</p></a></li>
                     <li><a href="#"><p class="no_button">no</p></a></li>
                  </ul>
               </div>
               </div>
            </div>

            <div class="info">
               <span class="first">T</span><strong>he world is changing.</strong> Lorem ipsum dolor sit amet, consectetur     
                     adipiscing elit. Nulla malesuada massa eget odio congue ut blandit risus dignissim. Cras gravida, 
                     lectus vel rhoncus venenatis, sapien felis volutpat leo, in lacinia nulla enim id ligula. Proin in       
                     urna orci, in ultricies purus. Proin sed arcu mi, quis aliquam eros. Suspendisse vehicula ipsum vitae 
                     sapien cursus commodo. Vivamus elementum imperdiet tellus bibendum varius. Maecenas convallis urna 
                     quis nisl mattis tempus in vitae nulla. Enjoy!
            </div>

            <div class="center">
               <div class="share">
                  <ul>
                     <li><p class="icon-fp_horz_line"></p></li>
                     <li><h3 class="subhead">Dig it? <span class="caption">Then share it!</span></h3></li>
                     <li><a href="#"><p class="icon-fp_twitter"></p></a></li>
                     <li><a href="#"><p class="icon-fp_facebook"></p></a></li>
                     <li><a href="#"><p class="icon-fp_email"></p></a></li>
                     <li><p class="icon-fp_horz_line"></p></li>
                  </ul>
               </div>
            </div>

            <div class="leaderboard-tease">
            </div>

            <div class="center">
               <div class="leader-link">
                  <ul>
                     <li><p class="icon-fp_horz_line_short"></p></li>
                     <li><a href="#"><p class="caption">View all.</p></a></li>
                     <li><a href="#"><p class="icon-fp_arrow"></p></a></li>
                     <li><p class="icon-fp_horz_line_short"></p></li>
                  </ul>
               </div>
            </div>
			</div>
			<!-- end #content -->
			
			
			<!-- begin #submit -->
			<div class="submit">
				<h1>i'm the submit box</h1>
			</div>
			<!-- end #submit -->
			
			
			<!-- begin #ad_row -->
			<div class="ad_row">
				<div class="center">moof<br /><br /><img src="../static/img/fp_fake_ads.jpg" /></div>
			</div>
			<!-- end #ad_row --> 
			
			
			<!-- begin #footer -->
			<div class="footer">
			
				<h1>i'm the footer</h1>
			</div>
			<!-- end #footer -->
			
		</div>
		<!-- end #site_container -->
	</div>
	<!-- end #triangle_container -->
	
	
	
	</body>
</html>
