/* ---------- COLOR VARIABLES ---------- */

$default-copy: #636363; 
$yes-color: #6aac10;
$no-color: #da2f30;
$info-box: #edf7ff;
$form-box: #fffcda;
$link: #00aeef;

@import "compass/css3/font-face";

@include font-face("SteelfishRegular", font-files("steelfish_rg-webfont.ttf", truetype, "steelfish_rg-webfont.woff", woff, "steelfish_eb-webfont.eot", eot, "steelfish_rg-webfont.eot?iefix", eot, "steelfish_eb-webfont.svg#webfont9KBGdVpU", svg));

@include font-face("JosefinSlabLight", font-files("JosefinSlab-Light-webfont.ttf", truetype, "JosefinSlab-Light-webfont.woff", woff, "JosefinSlab-Light-webfont-webfont.eot", eot, "JosefinSlab-Light-webfont.eot?iefix", embedded-opentype, "JosefinSlab-Light-webfont.svg#JosefinSlabThin", svg));



@mixin georgia{
	font: Georgia, "Times New Roman", serif;
	color: #000;
	margin: 0;
	padding: 0;
	text-transform: none;
}

@mixin ff-steelfish{
	font-family: "SteelfishRegular", Arial, sans-serif;
	color: #fff;
	font-weight: normal;
  font-style: normal;
}
@mixin ff-josefin{
	font-family: "JosefinSlabLight", Georgia, sans-serif;
	color: $default-copy;
	text-transform: uppercase;
	font-weight: normal;
    font-style: normal;
}
@mixin mono{
	font-family: monospace;
}

@mixin footer-text{
	@include georgia; 
	color: #fff;
	margin: 0;
	padding: 0 0 8px 0;
	a {
	  color:$link;
	  text-decoration: underline;
	  &:hover {text-decoration: none;};
	}
}

@mixin question-result{
	@include georgia; 
	color: #000;
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 18px;
  line-height: 22px;
}

h1
  {
  @include ff-josefin; 
	font-size:60px;
	line-height: 90px;
	margin-bottom: 20px;
  }

h2
  {
  @include ff-steelfish;
	font-size:50px;
	line-height: 50px; 
	}
	
h3
  { 
  @include georgia; 
  font-size: 24px;
  line-height: 15px;
  font-weight: normal;
  }

.carousel
  {
  font: 24px/28px Georgia, Times New Roman, serif;
  color: #000;
  text-transform: none;
  background: $form-box;
  border-bottom: 3px solid #000;
  padding: 10px;
  text-align: center;
  margin: 10px auto 20px auto;
  width:600px;
  }
    
.caption
  {
	font: 13px/18px Georgia, Times New Roman, serif;
	color: #000;
	font-style: italic;
  }
  
.caption-reverse
  { 
  @include footer-text; 
  font-size: 13px;
  font-style: italic;
  }

.sort-option
  { 
  @include footer-text; 
  font-size:14px;
  line-height: 22px;
  text-align: left;
  text-decoration:underline;
  font-style: italic;
  &:hover{text-decoration:none;};
    a{color:$link;}
  }
    
.sort-active {
    font-weight: bold;
    color:#000;
    text-decoration:none;
  }
  
span.first
  {
 float: left;
 font-family: "JosefinSlabLight", Georgia, sans-serif;
 font-size: 450%;
 line-height: 30px;
 margin: 17px 10px 5px 3px;
  }

.item-text
  { 
  @include georgia; 
  font-size: 18px;
  line-height: 22px;
  }

.footer-head
  { 
  @include footer-text; 
  font-size:18px;
  text-align: left;
  }

.footer-email
  { 
  @include footer-text; 
  font-size:14px;
  font-style: italic;
  text-align: left;
  }


.submit-head
  {
  @include ff-josefin; 
  font-size:34px;
  }


.leader-subhead
  {
  @include ff-steelfish;
  color: #fff;
  font-size:  30px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  }
  
.hidden-text
  {
  display: none;
  }

.percentage
  {
  @include ff-steelfish;
  font-size:  50px;
  line-height: 60px;
  font-weight: normal;
  text-transform: uppercase;
  float: right;
  padding: 0 0 0 20px;
  }
  
.percentage-result
  {
  @include ff-steelfish;
  font-size:  100px;
  line-height: 100px;
  font-weight: normal;
  float: left;
  padding: 0 20px 30px 0;
  margin:0;
  }
  
.result-text
  { 
  @include question-result;
  padding-bottom: 20px;
  }
  
.question-in-context
  { 
  @include question-result;
  text-decoration: underline;
  }
  
.agreement
  { 
  @include question-result;
  font-style: italic;
  }
  
.next-question{
  font-style: italic;
  font-size: 18px;
  &:hover{color:$link;};
}

.leaderboard-title{
  margin-bottom:0;
  line-height:60px;
}

.tagline
  { 
  @include georgia; 
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
  margin-bottom:50px;
  }